<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/Registro.css}">
</head>
<body>
    <h2>Registro de Usuario</h2>
    
    <form th:action="@{/registro}" method="post">
        

        <label>Nombre Completo:</label>
        <input type="text" name="nombre" required>

        <label>Correo Electrónico:</label>
        <input type="email" name="email" required>

        <label>Contraseña:</label>
        <input type="password" name="password" required>

        <label>Confirmar Contraseña:</label>
        <input type="password" name="confirmar" required>

        <button type="submit">Registrarse</button>
    </form>
    
    <a th:href="@{/login}">¿Ya tienes cuenta? Inicia sesión</a>

    <!-- Mostrar error si existe -->
    <div th:if="${error}" style="color:red; margin-top:10px;">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${mensaje}" style="color:green; margin-top:10px;">
        <p th:text="${mensaje}"></p>
    </div>
</body>
</html>
